.PAID{
  font-size : 40px;
  color: #129412;
}
.HughMongus{
  font-size : 100px;
  color: #FFA500;
}
  
.TSIGAN{
  font-size : 40px;
  color: #ff0000;
}
.LIFEISROBLOX{
  font-size : 40px;
  color: #FA7600;
}
.NOTES{
  font-size : 40px;
  color:  #6A5ACD;
}
body{
  background-image: url("erik-bedtime.gif");
}
